<form (ngSubmit)="onSubmit()">
    <div class="input-group">
        <div class="user-input">
            <label for="initial-investment">initial-investment</label>
            <input name="initial-investment" id="initial-investment" type="number" [(ngModel)]='initialInvestment'><br>
        </div>
        <div class="user-input">
            <label for="annual-investment">Annual-investment</label>
            <input name="annual-investment" id="annual-investment" type="number" [(ngModel)]="annualInvestment"><br>
        </div>
    </div>
    <div class="input-group">
        <div class="user-input">
            <label for="expected-return">Expected-return</label>
            <input name="expected-return" id="expected-return" type="number" [(ngModel)]="expectedReturn">
        </div>
        <div class="user-input">
            <label for="Duration">Duration</label>
            <input name="Duration" id="duration" type="number" [(ngModel)]="duration">
        </div>
    </div>
    
    <button type="submit" >Calculate</button>
    
</form>